{% extends "base.html" %}
{% load unsafe_tags %}
{% block content %}
    <a href="{% url 'unsafe_create' %}">Create new user</a><br>
    <p>{{ unsafe_user.username }}</p>
    {% if unsafe_user %}
        <h2>Hello {{ unsafe_user.username|safe }}</h2>
        <a href="{% url 'unsafe_logout' %}">Logout</a><br>
    {% else %}
        <a href="{% url 'unsafe_login' %}">Login</a><br>
    {% endif %}
    <br>

    <h2>Voorgaande berichten:</h2>
    {% for message in messages %}
        <h3>{{ message.user.username }}</h3>
        <p>{{ message.text|markdownify|safe }}</p>
        {% if unsafe_user.is_admin %}
            <a href="{% url 'unsafe_delete' pk=message.pk %}">Delete this message.</a>
        {% endif %}
    {% endfor %}

    {% if unsafe_user %}
    <h2>Verstuur een bericht</h2>
    {% if form.errors %}
        <p>Vul een valide bericht in</p>
    {% endif %}

    <form method="post" action="{% url 'unsafe_home' %}">
        {% csrf_token %}
        {{ form.text.label_tag }}
        {{ form.text }}
        <button type="submit">Verstuur</button>
    </form>
    {% endif %}

{% endblock %}
